@model IEnumerable<DrinkVendingMachine.Models.Memory>

    @*<form method="post" action="Count/One">
        <input type="submit" value="1р" />
    </form>
    <form method="post" action="Count/Two">
        <input type="submit" value="2р" />
    </form>
    <form method="post" action="Count/Five">

        <input type="submit" value="5р" />
    </form>
    <form method="post" action="Count/Ten">
        <input type="submit" value="10р" />
    </form>*@
    <body>
        @foreach (var item in Model)
        {

            <h1>К оплате готово = @item.Sum</h1>
        }
    
        <a asp-controller="Product" asp-action="All"> Показать товар </a>
    </body>
